.professional-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 80%;

  &__text {
    flex: 1;

    p {
      padding: 12px 0;
    }
  }
}
