@mixin header1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
}

@mixin header2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

@mixin header3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
}

@mixin header4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.005em;
}

@mixin header5 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.005em;
}

@mixin secondary {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 2px;
}

@mixin subtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--neutral-300);
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.005em;
}

@mixin bodyHigh {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.005em;
}

@mixin secondaryyyy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

@mixin secondaryHigh {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
}

@mixin note {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@mixin noteAccent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
