@use "../src/styles/typography.scss";
@import "./styles/palette.scss";
@import "./styles/fonts.scss";

body {
  margin: 0;
  @include typography.body;
}

code {
  @include typography.body;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
